<div class="container">
		<div class="page-header">
			<center> <h1>ABM Producto</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1> Agregar producto </h1>

		<div align="center">
			<form name="FormProducto" method=post novalidate>

			<p>
				<input type="text" name="nombre" ng-model="producto.nombre" placeholder="ingrese producto" required>
				<br/>
				<span ng-show="FormProducto.nombre.$error.required">El producto es requerido</span>
			</p>


			<p>
				<input type="number" name="porcentaje" ng-model="producto.porcentaje" placeholder="ingrese porcentaje" required>
				<br/>
				<span ng-show="FormProducto.porcentaje.$error.required">El codigo de barra es requerido</span>
				<span ng-show="FormProducto.porcentaje.$error.number">Solo puede contener numeros</span>
			</p>
			

			<p>
			  <input type="button" class="btn btn-info" ng-disabled="FormProducto.$invalid" ng-click="Alta()" value="Ingresar">
			</p>

			</form>
		</div>
</div>
