<div class="container">
		<div class="page-header">
			<center> <h1>ABM Producto</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1> Listado de productos </h1>
		<input type="search" ng-model="buscador" placeholder="Buscar producto">		
		<br/>

		<table id="listaProductos" class="table">	
			<thead>
				<tr>				
					<th>Producto</th>
					<th>Porcentaje</th>
				</tr> 
			</thead>

			<tr ng-repeat="producto in ListadoProducto | filter:buscador as resultado">
				<td>{{producto.nombre}}</td>
				<td>{{producto.porcentaje}}</td>
			</tr>
		</table>

		<div ng-if="resultado.length==0">
			No hay productos con ese critero.
		</div>
	
</div>

