<div class="container">
		<div class="page-header">
			<center> <h1>ABM Producto</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1> Iniciar Sesion </h1>

		<div align="center">
			<form name="FormLogin" novalidate>

			<p>
				<input type="email" name="email" ng-model="usuario.correo" placeholder="ingrese email" required>
				<br/>
				<span ng-show="FormLogin.email.$error.required">El email es requerido</span>
				<span ng-show="FormLogin.email.$error.email">El email es invalido</span>
			</p>

			<p>
				<input type="text" name="nombreuser" ng-model="usuario.nombre" placeholder="ingrese usuario" required>
				<br/>
				<span ng-show="FormLogin.nombreuser.$error.required">El usuario es requerido</span>
			</p>


			<p>
				<input type="password" name="password" ng-model="usuario.clave" placeholder="ingrese contrasena" required>
				<br/>
				<span ng-show="FormLogin.password.$error.required">La contrasena es requerida</span>
			</p>


			<p>
			  <input type="button" class="btn btn-info" ng-disabled="FormLogin.$invalid" ng-click="Login()" value="Ingresar">
			</p>

			<p>
			  <input type="button" class="btn btn-info" ng-click="DatosAdmin()" value="Test Admin">
			  <input type="button" class="btn btn-info" ng-click="DatosComprador()" value="Test Comprador">
			  <input type="button" class="btn btn-info" ng-click="DatosVendedor()" value="Test Vendedor">
			</p>

			</form>
		</div>
	</div>
</div>